@import url('https://necolas.github.io/normalize.css/8.0.1/normalize.css');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

body {
    font-family: 'Source Sans 3', sans-serif;
    color: white;
    background-image: url("./resources/bg.jpg");
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
    height: 100%;
    min-height: 100vh;
}

/* overlay */
.overlay {
    background-color: rgba(27, 27, 27, 0.5);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}
main {
    position: relative;
    z-index: 2;
}

/* landing page */
#landingSection {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    padding: 90px 10px 0;
    > .svgContainer {
        width: 6rem; 
        height: 6rem;
        border-radius: 50%;
        border: 1px solid white;
        display: flex;
        justify-content: center;
        > .logo {
            width: 2.2rem;
        }
    }
    > h1 {
        margin-top: 2.5rem;
    }
    > p {
        margin-bottom: 2.5rem;
        margin-top: 0;
        > a {
            color:rgba(255, 255, 255, 0.9);;
            text-decoration: none; 
            border-bottom: 1px dotted; 
        }
    }
    > nav {
        display: flex;
        flex-direction: column;
        width: 100%;
        > button {
            background-color: transparent;
            border: 1px solid white;
            color: rgba(255, 255, 255, 0.9);
            font-size: 0.9rem;
            font-weight: 100;
            letter-spacing: 2px;
            padding: 1rem 0;
            &:first-child {
                border-top-right-radius: 5px;
                border-top-left-radius: 5px;
            }
            &:last-child {
                border-bottom-right-radius: 5px;
                border-bottom-left-radius: 5px;
            }
        }
    }
}
.verticalLine {
    height: 3rem;
    width: 1px;
    background-color: white;
}
.horizontalLine {
    height: 1px; 
    background-color: white;
    width: 100%;
}
.thinText {
    font-size: 1.1rem;
    font-weight: 100;
    line-height: 2;
    letter-spacing: 2px;
    color: rgba(255, 255, 255, 0.9);
}
.mainTitle {
    font-size: 2.2rem;
    font-weight: 500;
    letter-spacing: 4px;
}

/* tabs */
.tab {
    margin:  10px;
    padding: 3rem;
    background-color: #1d2123;
    position: relative;
}
#introTab > video {
    width: 100%;
    border-radius: 5px;
}

.tabTitle {
    font-size: 1.9rem;
    font-weight: 500;
    letter-spacing: 8px;
    border-bottom: 1px solid white;
    padding-bottom: 1rem;
    width: fit-content;
}
.tabParagraph {
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 2;
    color: rgba(255, 255, 255, 0.9);
    margin-bottom: 1.8rem;
}
.closeButton {
    background-color: transparent;
    border: none;
    position: absolute;
    right: 1rem;
    top: 1rem;
    > img {
        width: 1.7rem;
    }
}

#workTab > img {
    width: 100%;
    border-radius: 5px;
}
